@page
@model FerroApp.GUI.Pages.AdminPages.ProductoModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/Multi.css" rel="stylesheet" />
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h3>Agregar Producto</h3>
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <form method="post">
                        <div class="row">
                            <div class="col">
                                <label>Nombre del producto</label>
                                <input type="text" class="form-control" placeholder="Martillo..." required />
                                <label>Precio</label>
                                <input type="number" class="form-control" placeholder="$" required />
                                <label>Cantidad</label>
                                <input type="number" class="form-control" placeholder="#" required />
                                <label>Modelo</label>
                                <input type="text" class="form-control" placeholder="" required />
                                <label>Marca</label>
                                <input type="text" class="form-control" placeholder="Craftman..." required />
                                <label>Código del producto</label>
                                <input type="text" class="form-control" placeholder="122242" required />
                                <label>ID Gerente</label>
                                <input type="text" class="form-control" placeholder="102020" required />
                            </div>
                            <div class="col">
                                <div class="form-group files color">
                                    <label>Upload Your File </label>
                                    <input type="file" class="form-control" multiple="" required />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Descripción</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalError">
                            Agregar producto
                        </button>
                        @*<button type="submit" class="btn btn-success">Agregar Producto</button>*@
                        <button type="button" class="btn btn-outline-secondary">Cancelar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Exito -->
<div class="modal fade" id="ModalExito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Producto agregado correctamente
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!-- Modal Error -->
<div class="modal fade" id="ModalError" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Producto repetido, revise los campos
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>